# 로컬 Docker Compose 기본값입니다. 값 변경이 필요할 때만 .env로 복사하세요.
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=marketplace-local-password
COMMERCE_POSTGRES_PORT=5432
PAYMENT_POSTGRES_PORT=5433
SETTLEMENT_POSTGRES_PORT=5434
DISCOVERY_POSTGRES_PORT=5435
REDIS_PORT=6379
KAFKA_PORT=9092
